<div class='chr-form-small'>
  <%= simple_nested_form_for @object, url: @form_action_url, method: :post do |f| %>

    <%= f.input :featured_image %>
    <%= f.input :keywords, placeholder: 'Split with comma' %>

    <% if Character::Blog::Category.all.size > 0 %>
      <%= f.input :category_id, include_blank: true, collection: Character::Blog::Category.all %>
    <% end %>

    <%= f.input :published_at, as: :date, wrapper_html: { class: 'chr-date-dmy' },
                order: [:day, :month, :year], start_year: Date.today.year - 5, end_year: Date.today.year + 1 %>

    <%= f.input :published, as: :boolean, labels: %w( Draft Published ) %>

    <%= f.input :title,     as: :hidden %>
    <%= f.input :subtitle,  as: :hidden %>
    <%= f.input :body_html, as: :hidden %>
  <% end %>
</div>

<article class='blog-post'>
  <figure>
    <button id='blog_post_featured_image_upload'>Image</button>
  </figure>

  <header>
    <h1 class='character-editor'
        data-input-name='character_blog_post[title]'
        data-options="placeholder:'Post Title ';disableReturn:true;disableToolbar:true;"
    ><%= @object.title %></h1>
  </header>

  <section class='character-editor content'
           data-input-name='character_blog_post[body_html]'
           data-options="placeholder:'Type text here...';insertImages:true;targetBlanks:true;buttons:'bold italic underline anchor header1 header2 quote'"
  ><%= @object.body_html.try(:html_safe) %></section>

</article>