<% @model = @character_instance.user_model.constantize %>

<%= simple_form_for :objects, url: @action_url do |form| %>
  <%= hidden_field_tag :class_name, @model.to_s %>

  <div class='row'>
    <div class='small-12 columns'>

      <% (@objects || @model.all).each do |user| %>
        <%= form.simple_fields_for "[]", user do |f| %>

          <div class='row'>
            <div class='large-3 columns'><%= image_tag user.chr_thumbnail_url %></div>

            <%= f.input :email,
                        required: true,
                        as: :email,
                        label: false,
                        placeholder: 'Email',
                        wrapper_class: 'large-5 columns' %>

            <div class='large-4 columns chr-actions'>
              <i class='chr-action-pin'></i><a class='action_delete' data-item-class='row'>Delete</a>
              <%= f.input :_destroy, as: :hidden, value: false %>
            </div>
          </div>

        <% end %>
      <% end %>


            <template id='new_item_template'>
              <%= form.simple_fields_for "[]", @model.new do |f| %>

                <div class='row'>
                  <%= f.input :email,
                              required: true,
                              as: :email,
                              label: false,
                              placeholder: 'Email',
                              wrapper_class: 'large-5 large-offset-3 columns' %>

                  <div class='large-4 columns chr-actions'>
                    <i class='chr-action-pin'></i><a class='action_cancel' data-item-class='row'>Cancel</a>
                  </div>
                </div>

              <% end %>
            </template>


    </div>
  </div>

  <div class='row margin-top-1em'>
    <div class='small-12 columns text-right'>
      <h3><small>To change your picture visit <%= link_to 'http://gravatar.com', 'http://gravatar.com', target: '_blank' %>.</small></h3>
    </div>
  </div>

<% end %>