<% @model = Character::Settings::Variable %>

<%= simple_form_for :objects, url: @action_url do |form| %>
  <%= hidden_field_tag :class_name, @model.to_s %>

  <div class='row'>
    <div class='large-9 large-centered columns'>

      <% ::Settings.group('Blog Settings').each do |name, object| %>

        <%= form.simple_fields_for "[]", object.stored_object do |f| %>
          <% case object.type %>
          <% when "text" %>
          <%= f.input :value,
                       as: :text,
                       label: f.object.name,
                       placeholder: object.description,
                       input_html: { value: object.value } %>
          <% else %>
          <%= f.input :value,
                       label: f.object.name,
                       placeholder: object.description,
                       input_html: { value: object.value } %>
          <% end %>
        <% end %>

      <% end %>

    </div>
  </div>
<% end %>