<% @model = Character::PostAuthor %>

<div class='chr-form-large'>
  <%= simple_form_for :objects, url: @action_url, method: :post do |form| %>
    <%= hidden_field_tag :class_name, @model.to_s %>

    <% @model.all.each do |author| %>
      <%= form.simple_fields_for "[]", author do |f| %>
        <div class='fields'>
          <a class='action_delete' data-item-class='fields' href='#'><i class='chr-icon icon-close-alt'></i></a>
          <%= f.input :name,  label: false, placeholder: 'Name',  required: true %>
          <%= f.input :email, label: false, placeholder: 'Email', required: true %>
          <%= f.input :_destroy, as: :hidden, value: false %>
        </div>
      <% end %>
    <% end %>

    <div id='template' class='fields'>
      <a class='action_delete' data-item-class='fields' href='#' style='display: none;'><i class='chr-icon icon-close-alt'></i></a>
      <%= form.simple_fields_for "[]", @model.new do |f| %>
        <%= f.input :name,  label: false, placeholder: 'Name',  required: true %>
        <%= f.input :email, label: false, placeholder: 'Email', required: true %>
      <% end %>
    </div>

    <a href='#' class='action_add'>Add an author</a>
  <% end %>
</div>
