<% @model = Character::Settings::Variable %>

<div class='chr-form-default'>
  <%= simple_form_for :objects, url: @action_url, method: :post, class: :default do |form| %>
    <%= hidden_field_tag :class_name, @model.to_s %>
    <% ::Settings.group(@settings_group_name).each do |name, object| %>

      <%= form.simple_fields_for "[]", object.stored_object do |f| %>
        <% case object.type %>
        <% when "text" %>
        <%= f.input :value,
                     as: :text,
                     label: f.object.name,
                     placeholder: object.description,
                     input_html: { value: object.value } %>
        <% else %>
        <%= f.input :value,
                     label: f.object.name,
                     placeholder: object.description,
                     input_html: { value: object.value } %>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
</div>