<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title><%= character_namespace.title %> | Admin</title>

  <%= stylesheet_link_tag character_namespace.stylesheet_filename, :media => 'all' %>
  <%= javascript_include_tag 'vendor/custom.modernizr' %>

  <script>window.character_namespace = '<%= character_namespace.name %>';</script>
  <%= javascript_include_tag character_namespace.javascript_filename %>

  <% if Rails.env.production? or not character_namespace.no_auth_on_development %>
    <%= setup_browserid %>
  <% end %>

  <%= csrf_meta_tags %>
</head>

<body class='antialiased'>

  <% if @admin_user %>
                        <script>
                          $( function() {
                            Character.start({
                              user: { avatar_url: '<%= @admin_user.gravatar_url(36) %>',
                                      email: '<%= @admin_user.email %>' },
                              logo: '<%= image_path(character_namespace.company_logo_image) %>'
                            });
                          });
                        </script>
  <% else %>
                        <div  class='chr-login'
                              style='background-image: url("<%= character_namespace.login_background_image %>");'>
                          <%= link_to browserid_config.login.path, class: 'browserid_login' do %>
                            <i class='icon-user'></i>  Login with Persona
                          <% end %>
                        </div>
  <% end %>

</body>
</html>
