<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title><%= @character_instance.title %> | Admin</title>

  <%= stylesheet_link_tag @character_instance.stylesheet_filename, :media => 'all' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag @character_instance.javascript_filename %>

  <%= setup_browserid debug: false %>
  <%= csrf_meta_tags %>
</head>

<body class='antialiased'>

  <% if @current_user %>
                        <script>
                          $( function() {
                            chr.start({
                              user: { avatar_url: '<%= @current_user.gravatar_url(36) %>',
                                      email: '<%= @current_user.email %>' },
                              logo: '<%= image_path(@character_instance.logo) %>',
                              url:  '/<%= @character_instance.name %>'
                            });
                          });
                        </script>
  <% else %>

    <% if @browserid_email %>
      <%= render partial: 'character/access_denied' %>
    <% else %>
      <%= render partial: 'character/login' %>
    <% end %>

  <% end %>

  <%= javascript_include_tag 'foundation' %>
</body>
</html>
