<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset='utf-8' />

  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <title><%= character_namespace.title %> | Admin</title>

  <%= stylesheet_link_tag find_asset("character/#{character_namespace.stylesheet_filename}",character_namespace.stylesheet_filename), :media => 'all' %>

  <%= javascript_include_tag 'vendor/custom.modernizr' %>

  <script>window.character_namespace = '<%= character_namespace.name %>';</script>
  <%= javascript_include_tag find_asset("character/#{character_namespace.javascript_filename}", character_namespace.javascript_filename) %>

  <% if Rails.env.development? and character_namespace.no_auth_on_development %>
    <%# do not add browserid javascript when on localhost and no_auth flag set %>
  <% else %>
    <%= setup_browserid %>
  <% end %>

  <% if @admin_user %>
    <script>
      window.user_image_url = '<%= @admin_user.gravatar_url(36) %>';
      window.user_email     = '<%= @admin_user.email %>';
      $(function(){ character.start() });
    </script>

    <style>
    <% if character_namespace.company_logo_image.start_with?('http://') %>
      .chr-generic-details { background-image: url(<%= character_namespace.company_logo_image %>); }
    <% else %>
      .chr-generic-details { background-image: url(<%= image_path(character_namespace.company_logo_image) %>); }
    <% end %>
    </style>

    <%= csrf_meta_tags %>
  <% else %>
    <style>
      <% if character_namespace.login_background_image.start_with?('http://') %>
      .chr-login { background-image:url("<%= character_namespace.login_background_image %>"); }
      <% else %>
      .chr-login { background-image:url("<%= image_path(character_namespace.login_background_image) %>"); }
      <% end %>
    </style>
  <% end %>
</head>

<body class='antialiased'>
  <% unless @admin_user %>

    <div class='chr-login'>  <!-- NICE BG: http://feeds.nationalgeographic.com/ng/photography/photo-of-the-day/ -->

      <%= link_to browserid_config.login.path, class: 'browserid_login button' do %>
        <i class='icon-user' style='margin-right:.3em;'></i>  Login with Persona
      <% end %>

    </div>
  <% end %>
</body>
</html>
