<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= @character_instance.title %></title>

    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag @character_instance.stylesheet_filename, :media => 'all' %>
    <style>
    .chr-logo  { background-image: url('<%= image_path(@character_instance.logo) %>'); }
    .chr-login { background-image: url("<%= @character_instance.login_background %>"); }
    </style>

    <!-- Javascripts -->
    <%= javascript_include_tag @character_instance.javascript_filename %>
    <%= setup_browserid debug: false %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if @current_user %>
      <script>
        $(function() {
          var chrParams = { user_email: '<%= @current_user.email %>', url: '/<%= @character_instance.name %>' };
          chr.start(chrParams);
        });
      </script>

      <div id='character' class='character <%= @character_instance.name %>-instance'>
        <nav id='menu' class='chr-menu'>

          <%= link_to "/#{ @character_instance.name }/logout?redirect=/#{ @character_instance.name }", class: 'browserid_logout' do %>
            <%= image_tag @current_user.gravatar_url(36), class: 'chr-menu-user' %>
          <% end %>

          <ul id='menu_items'></ul>
          <a href="#/settings" class="chr-menu-item-settings"><i class="chr-menu-icon fa fa-gears"></i> Settings</a>
        </nav>
        <div id='content' class='chr-content'></div>
      </div>
    <% else %>

      <% if @browserid_email %>

        <div class='chr-no-access'>
          <h2>Hi!</h2>
          <p>You're signed in with <strong><%= @browserid_email %></strong>. Your account has no access to this section of the website. Please ask the administrator to grant you access.</p>

          <%= link_to "/#{ @character_instance.name }/logout?redirect=/#{ @character_instance.name }", class: 'browserid_logout' do %>Sign out<% end %>
        </div>

      <% else %>

        <div class='chr-login'>
          <%= link_to browserid_config.login.path, class: 'browserid_login' do %>Sign in<% end %>
        </div>

      <% end %>
    <% end %>
  </body>
</html>