<% if @object.persisted? %>

  <div class='chr-form-small chr-form-scrolled-up'>
    <%= simple_nested_form_for @object, url: @form_action_url, method: :post do |f| %>
      <%= f.input :title %>
      <%= f.input :path %>
      <%= f.input :template_name %>
      <%= f.input :hidden, as: :hidden %>
    <% end %>
  </div>

  <article class='pages-show'>
    <%= render partial: @object.template_path %>
  </article>

<% else %>

  <div class='chr-form-small'>
    <%= simple_form_for @object, url: @form_action_url do |f| %>
        <%= f.input :title %>
        <%= f.input :path %>
        <%= f.input :template_name %>
        <%= f.input :hidden, as: :hidden %>
      </div>
    <% end %>
  </div>

<% end %>