<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset='utf-8' />

  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <title><%= ENV['WEBSITE_NAME'] %> | Admin</title>

  <%= stylesheet_link_tag 'character', :media => 'all' %>

  <%= javascript_include_tag 'vendor/custom.modernizr' %>

  <%= javascript_include_tag 'character' %>

  <% if admin_user_signed_in? %>
    <script type='text/javascript'>
      console.log('Signed In')
      window.website_name    = '<%= ENV["WEBSITE_NAME"] || "chr." %>';
      window.website_url     = '<%= ENV["WEBSITE_URL"] %>';
      window.user_image_url = '<%= current_admin_user.avatar_url(36) %>';
      $(function(){ character.start(); });
    </script>
  <% end %>

  <%= csrf_meta_tags %>
</head>

<body class='antialiased'> <!-- anitialiased used to make fonts smooth -->

  <% unless admin_user_signed_in? %>
    <%= render 'character/admin/login' %>
  <% end %>

</body>
</html>
