<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset='utf-8' />

  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <title><%= ENV['WEBSITE_NAME'] %> | Admin</title>
  
  <%= stylesheet_link_tag 'admin', :media => 'all' %>

  <%= javascript_include_tag 'vendor/custom.modernizr' %>
  
  <%= javascript_include_tag 'admin' %>

  <%#= setup_browserid %>

  <%= csrf_meta_tags %>
</head>

<body class='antialiased'> <!-- anitialiased used to make fonts smooth -->

  <% if @character_admin_user %>
    <%= render partial: 'character/admin/header' %>

    <div id='character'></div>

    <script type='text/javascript'>
      $(function(){
        window.character.start(window.CharacterOptions);
      });
    </script>

  <% else %>

    <%= render 'character/admin/login' %>

  <% end %>

</body>
</html>
