<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset='utf-8' />

  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <title><%= ENV['WEBSITE_NAME'] || "Character" %> | Admin</title>

  <%= stylesheet_link_tag 'character', :media => 'all' %>

  <%= javascript_include_tag 'vendor/custom.modernizr' %>

  <%= javascript_include_tag 'character' %>
  <%= setup_browserid %>

  <% if @admin_user %>
    <script type='text/javascript'>
      window.website_name           = '<%= ENV["WEBSITE_NAME"] || "Character" %>';
      window.website_url            = '<%= ENV["WEBSITE_URL"] %>';
      window.user_image_url         = '<%= @admin_user.gravatar_url(36) %>';
      window.company_logo_image_url = '<%= image_path("character-company-logo.png") %>';
      $(function(){ character.start() });
    </script>
    <%= csrf_meta_tags %>
  <% end %>
</head>

<body class='antialiased'>
  <% unless @admin_user %>

    <div style='position:fixed; width:100%; height:100%; background:url("http://images.nationalgeographic.com/exposure/core_media/ngphoto/image/68263_0_1040x660.jpg") no-repeat center center fixed; background-size:cover;'>
      <!-- http://feeds.nationalgeographic.com/ng/photography/photo-of-the-day/ -->
    
      <%= link_to browserid_config.login.path, class: 'browserid_login button', style: 'position: absolute; bottom: 2em; right: 2em; margin-bottom: 0;' do %>
        <i class='icon-user' style='margin-right:.3em;'></i>  Login with Persona
      <% end %>

    </div>
  <% end %>
</body>
</html>
