<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <%= display_meta_tags title: 'Website Title' %>

    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://<%= @blog_domain %><%= blog_feed_path %>.rss" />

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>