<article class='post'>
  <header class='post-header'>
    <%= link_to posts_show_path(post), rel: 'bookmark' do %><h1><%= post.title %></h1><% end %>
  </header>

  <section class='post-body'>
    <%= post.body_html.html_safe %>
  </section>

  <footer class='post-footer'>
    <!-- TODO: add author link -->
    <% unless post.category.nil? %>
      <%= link_to post.category.title, posts_category_path(post.category) %>
    <% end %>
    <time><%= l post.published_at, format: :long %></time>
  </footer>
</article>
