<div class='chr-form-scrolled-up'>
  <%= simple_nested_form_for @object, url: @form_action_url, method: :post do |f| %>

    <%= f.simple_fields_for :featured_image do |ff| %>
      <%= ff.input :url, as: :hidden, input_html: { value: @object.featured_image_url } %>
    <% end %>

    <% if Character::PostCategory.all.size > 0 %>
      <%= f.input :category_id, label: 'Posted in', include_blank: true, collection: Character::PostCategory.all %>
    <% end %>

    <%= f.input :published_at %>

    <%= f.input :title,     as: :hidden %>
    <%= f.input :subtitle,  as: :hidden %>
    <%= f.input :body_html, as: :hidden %>
    <%= f.input :hidden, as: :hidden %>
  <% end %>
</div>

<figure id='character_post_featured_image_uploader'
        class='character-post-featured-image-upload'
        data-image-url='<%= @object.featured_image_url %>'></figure>

<article class='post'>
  <h1 class='character-editor'
      data-input-name='character_post[title]'
      data-options="placeholder:'Post Title ';disableReturn:true;disableToolbar:true;disableInsert:true;"
  ><%= @object.title %></h1>

  <textarea id='redactor' class='character-redactor' placeholder='Type text here...'>
    <%= @object.body_html.try(:html_safe) %>
  </textarea>
</article>