<div class='chr-form-small chr-form-scrolled-up'>
  <%= simple_nested_form_for @object, url: @form_action_url, method: :post do |f| %>

    <%= f.simple_fields_for :featured_image do |ff| %>
      <%= ff.input :url, as: :hidden, input_html: { value: @object.featured_image_url } %>
      <%= ff.input :chr_thumbnail_url, as: :hidden, input_html: { value: @object.chr_featured_thumbnail_url } %>
    <% end %>

    <% if Character::PostCategory.all.size > 0 %>
      <%= f.input :category_id, include_blank: true, collection: Character::PostCategory.all %>
    <% end %>

    <%= f.input :published_at, as: :date, wrapper_html: { class: 'chr-date-dmy' },
                order: [:day, :month, :year], start_year: Date.today.year - 5, end_year: Date.today.year + 1 %>

    <%= f.input :published, as: :boolean, labels: %w( Draft Published ) %>

    <%= f.input :title,     as: :hidden %>
    <%= f.input :subtitle,  as: :hidden %>
    <%= f.input :body_html, as: :hidden %>
  <% end %>
</div>

<figure id='character_post_featured_image_uploader'
        class='character-post-featured-image-upload'
        data-image-url='<%= @object.featured_image_url %>'></figure>

<article class='posts-show'>
  <header>
    <h1 class='character-editor'
        data-input-name='character_post[title]'
        data-options="placeholder:'Post Title ';disableReturn:true;disableToolbar:true;disableInsert:true;"
    ><%= @object.title %></h1>
  </header>

  <section class='character-editor content'
           data-input-name='character_post[body_html]'
           data-options="placeholder:'Write your post';insertImages:true;targetBlanks:true;buttons:'bold italic underline anchor header1 header2 quote'"
  ><%= @object.body_html.try(:html_safe) %></section>
</article>